<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544186740113-3smff7mnsp7p8920pdr4t53n49glvipc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544186740113-3smff7mnsp7p8920pdr4t53n49glvipc</string>
	<key>API_KEY</key>
	<string>AIzaSyB_mmxrXILpt_IXUt_7yme25AegTxb4_6E</string>
	<key>GCM_SENDER_ID</key>
	<string>544186740113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ham.com.active.cvproject</string>
	<key>PROJECT_ID</key>
	<string>cvprojectfire</string>
	<key>STORAGE_BUCKET</key>
	<string>cvprojectfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544186740113:ios:ca112575d926805d853e30</string>
</dict>
</plist>